﻿@{
	ViewData["Title"] = "DeleteMember";
}

<form method="post">
	<div class="text-center">
		<h2 class="display-4">Удаление участника</h2>
	</div>
	<div class="form-group">
		<label class="u-label u-text-custom-color-1 u-label-1">Участник: </label>
		<select id="member" name="member" class="form-control">
			@foreach (var member in ViewBag.Members)
			{
				<option value="@member.Id">@($"{member.MemberSurname} {member.MemberName} {member.MemberPatronymic}")</option>
			}
		</select>
	</div>
	<br>
	<div class="u-container-layout u-container-layout-2">
		<input type="submit" value="Удалить" class="btn btn-outline-dark text-center d-flex justify-content-md-center" />
	</div>
</form>