@{
    ViewData["Title"] = "CreateRoom";
}

<form method="post">
    <div class="text-center">
        <h2 class="display-4">Добавление номера</h2>
    </div>
    <div class="form-group">
        <label class="u-label u-text-custom-color-1 u-label-2">Название комнаты</label>
    </div>
    <input type="text"
           placeholder="Введите название комнаты"
           name="roomName"
           class="form-control" />
    <div class="form-group">
        <label class="u-label u-text-custom-color-1 u-label-2">Корпус</label>
    </div>
    <input type="text"
           placeholder="Введите корпус комнаты"
           name="roomFrame"
           class="form-control" />
    <div class="form-group">
        <label class="u-label u-text-custom-color-1 u-label-2">Цена комнаты</label>
    </div>
    <input type="number"
           placeholder="Введите цену комнаты"
           name="roomPrice"
           class="form-control" />
    <div class="form-group">
        <label class="u-label u-text-custom-color-1 u-label-2">Обеды</label>
    </div>
    <div class="form-group">
        <div class="col-8">
            <select name="lunches" class="form-control" multiple size="6" id="lunches">
                @foreach (var lunch in ViewBag.Lunches)
                {
                    <option value="@lunch.Id">@lunch.LunchName</option>
                }
            </select>
        </div>
    </div>
    <div class="u-container-layout u-container-layout-2">
        <input type="submit" value="Сохранить" class="btn btn-outline-dark text-center d-flex justify-content-md-center" />
    </div>
</form>
