@{
    ViewData["Title"] = "Enter";
}

<form method="post">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px; border-color:black;">
                        <div class="card-body p-5">
                            <div class="text-center">
                                <h2 class="u-text u-text-custom-color-1 u-text-default u-text-1"> Вход </h2>
                            </div>
                            <div class="form-group">
                                <label class="u-label u-text-custom-color-1 u-label-1">Электронная почта</label>
                                <input type="text"
                                       placeholder="Введите свой логин"
                                       name="login"
                                       class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="u-label u-text-custom-color-1 u-label-2">Пароль</label>
                                <input type="password"
                                       placeholder="Введите свой пароль"
                                       name="password"
                                       class="form-control" />
                            </div>
                            <br>
                            <div class="form-group text-center d-flex justify-content-center">
                                <button type="submit" class="btn btn-outline-dark text-center d-flex justify-content-md-center">Войти</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>