﻿@using HotelContracts.ViewModels

@model List<RoomViewModel>

@{
    ViewData["Title"] = "ListRooms";
}

<div class="text-center">
    <h2 class="display-4">Список номеров</h2>
</div>

<section class="u-clearfix u-section-1" id="sec-e38b">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-layout-cell u-size-48 u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a asp-area="" asp-controller="Home" asp-action="CreateRoom"
                       class="btn btn-outline-dark mr-2">Добавить</a>
                    &nbsp;
                    <a asp-area="" asp-controller="Home" asp-action="UpdateRoom"
                       class="btn btn-outline-dark mr-2">Изменить</a>
                    &nbsp;
                    <a asp-area="" asp-controller="Home" asp-action="DeleteRoom"
                       class="btn btn-outline-dark mr-2">Удалить</a>
                    &nbsp;
                </div>
                <div class="u-table u-table-responsive u-table-1">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr style="height: 31px">
                                <th class="u-border-1 u-border-grey-50 u-table-cell">
                                    Номер
                                </th>
                                <th class="u-border-1 u-border-grey-50 u-table-cell">
                                    Название
                                </th>
                                <th class="u-border-1 u-border-grey-50 u-table-cell">
                                    Корпус
                                </th>
                                <th class="u-border-1 u-border-grey-50 u-table-cell">
                                    Цена
                                </th>
                            </tr>
                        </thead>
                        <tbody class="u-table-body">
                            @foreach (var item in Model)
                            {
                                <tr style="height: 75px">
                                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                                        @Html.DisplayFor(modelItem => item.RoomName)
                                    </td>
                                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                                        @Html.DisplayFor(modelItem => item.RoomFrame)
                                    </td>
                                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                                        @Html.DisplayFor(modelItem => item.RoomPrice)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .btn-group > .btn {
        margin-right: 10px;
    }
</style>