@using HotelContracts.ViewModels;

@{
    ViewData["Title"] = "RoomMealPlans";
}

<div class="text-center">
	<h2 class="display-4">Связывание номера и плана питания</h2>
</div>
<form method="post">
	<div class="form-group">
		<label for="room">Номер</label>
		<select id="room" name="room" class="form-control" asp-items="@(new SelectList(@ViewBag.Rooms, "Id", "RoomName"))"></select>
	</div>
	<div class="form-group">
		<label for="mealplan">План питания</label>
		<select id="mealplan" name="mealplan" class="form-control" asp-items="@(new SelectList(@ViewBag.MealPlans, "Id", "MealPlanName"))"></select>
	</div>
	<div class="u-container-layout u-container-layout-2">
		<input type="submit" value="Сохранить" class="btn btn-outline-dark text-center d-flex justify-content-md-center" />
	</div>
</form>

